* text=auto eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
LICENSE text eol=lf
